/*[data-md-color-scheme="tailwind"] {*/
/*    --md-primary-fg-color:        #5B5BC1;*/
/*    --md-primary-fg-color--light: #6e6edd;*/
/*    --md-primary-fg-color--dark:  #42429f;*/
/*}*/

.md-header__title {
    margin-left: 0.2rem !important;
}

.md-header {
    background-color: #3730a3;
}

.md-tabs {
    background: #4338ca;
}

.md-tabs__link {
    font-size: 0.7rem;
    font-weight: 600;
}

.bg-grid-pattern {
    background-color: #ffffff;
    background-image:  linear-gradient(#f9f9fd 1.9000000000000001px, transparent 1.9000000000000001px), linear-gradient(to right, #f9f9fd 1.9000000000000001px, #ffffff 1.9000000000000001px);
    background-size: 38px 38px;
}

.text-shadow {
    text-shadow: 0px 2px 6px rgba(17,24,39,0.15);
}