[data-md-color-scheme="tailwind"] {
    --md-primary-fg-color:        #0284c7;
    --md-primary-fg-color--light: #a5b4fc;
    --md-primary-fg-color--dark:  #059669;
}

.md-header__title {
    margin-left: 0.2rem !important;
}
